version: '3.2'

services: 
  port: 
    env_file:
      - services/port/.env
      - .env
    build: 
      dockerfile: services/port/Dockerfile
      context: .
    networks: 
      - backend
    ports: 
      - 8080:8080
    environment: 
      - RUST_LOG=port=TRACE
  matching-engine:
    networks: 
      - backend
    environment: 
      - RUST_LOG=matching_engine=TRACE
    env_file: 
      - services/matching-engine/.env
      - .env
    build: 
      context: .
      dockerfile: services/matching-engine/Dockerfile
  retransmitter:
    networks: 
      - backend
    environment: 
      - RUST_LOG=retransmitter=TRACE
    build:
      context: .
      dockerfile: services/retransmitter/Dockerfile



networks: 
  backend:
